:root { 
    --teal_A700_01:#00cda5; 
    --teal_A700:#00afa0; 
    --black_900_7f:#0000007f; 
    --gray_700:#646464; 
    --teal_A700_33:#00afa033; 
    --gray_400:#c8c8c8; 
    --gray_500:#969696; 
    --teal_A700_75:#00afa075; 
    --blue_gray_100:#d9d9d9; 
    --gray_900_cc:#1e1e1ecc; 
    --gray_800:#4d4d4d; 
    --orange_400:#ff9b1e; 
    --orange_500:#ffc986;
    --black_900_3f:#0000003f; 
    --gray_300:#dcdcdc; 
    --teal_A700_4c:#00afa04c; 
    --black_900:#000000; 
    --black_900_19:#00000019; 
    --white_A700:#ffffff; 
    --black_900_26:#00000026; 
    --cyan_500:#00d7c8; 
}